@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
    border: none;
    user-select: none;
}
body{
    background-image: url(https://media1.giphy.com/media/1jXAh9RJME0LZoBFRp/giphy.gif?cid=ecf05e4769bspriz6i3ibipnqe063qtllzoacsx01c2vm56y&rid=giphy.gif&ct=g);
}

div{
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(19, 70px);
    grid-template-rows: repeat(5, 50px);
    width: 100%;
}

header button{
    position: absolute;
    cursor: pointer;
    height: 80px;
    width: 100px;
    font-size: 100%;
}

header{
    background-color: #ffffff50;
    margin-left: none;
    margin-top: none;
    height: 90px;
    width: 100%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

button {
    background: #fff;
    border-radius: 35px;
    height: 40px;
    width: 60px;
    align-items: center;
    margin: 5px;
    box-shadow: 0px 5px 15px 0px #00000044;
}

body::-webkit-scrollbar {
    background-color:#191E28;
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background:#2F3B66;
	border-radius: 360px;
}